@import "reset";
@import "variables";
@import "mixins";


*{
  text-transform:uppercase;
}

nav {
  position:fixed;
  width:100%;
  background-color:white;
}

.upper-nav{
  @include center-content;
  background-color:black;
  color:white;
  height:25px;
}

.upper-content{
  display:flex;
  justify-content: space-between;
  width:$max-nav-width;

  a{
    color:white;
  }
}

.title {
  @include center-content;
  height: 65px;
  font-size: 45px;

}

.sub-nav {
  @include center-content;
  height:36px;
  border-top:1px solid black;
  border-bottom:1px solid black;
}

.sub-nav-content{
  display:flex;
  justify-content:space-around;
  width:$max-nav-width;
}

.main-content-wrapper{
display:flex;
justify-content:center;
padding: 0 10px;
}

.main-content{
  margin-top:140px;
  max-width:$max-content-width;
}

.hero img{
  max-width:100%;
  margin-bottom:3vw;
}
.half-wrapper{
  display:flex;
}

.half img{
  width:100%;
}

.left-half{
  margin-right:1.5vw;
}

.right-half{
  margin-left:1.5vw;
}

.middle-banner{
  @include center-content;
  flex-direction:column;
  height:15vh;
  width:100%;
  color:white;
  background-color:black;
  font-size:2.5vw;
  // add media query (continues to grow when max container size is reached)
  margin-top:3vw;
  margin-bottom: 3vw;
}

.favorites {
  display: flex;
  margin-right: -.25vw;
  margin-left: -.25vw;
  margin-bottom:1vw;
  padding-bottom:1vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  img {
    width: 100%;
  }
}
.favorite-content {
  margin-right: .25vw;
  margin-left: .25vw;
  margin-top: 1vw;

  p {
    margin-top: .5vw;
  }
}

.fav-title {
text-align: center;
padding-bottom:.5vw;
}
